In [1]:
import os

# choose working directory
os.chdir("../distances/")

os.listdir()

['distance_matrix.xlsx',
 'distancias_cidades_capitais_milhas.xlsx',
 'states_centers.csv']

In [2]:
from geopy.distance import geodesic

import pandas as pd


CIRCUITY_FACTOR = 1.205

In [3]:
# load your data
df = pd.read_csv("states_centers.csv")

df

    STATEFP          STNAME  POPULATION   LATITUDE   LONGITUDE ST2
0         1         Alabama     5024279  33.016191  -86.753353  AL
1         4         Arizona     7151502  33.371388 -111.882468  AZ
2         5        Arkansas     3011524  35.199251  -92.713212  AR
3         6      California    39538223  35.491035 -119.347852  CA
4         8        Colorado     5773714  39.534747 -105.185361  CO
5         9     Connecticut     3605944  41.492835  -72.878714  CT
6        10        Delaware      989948  39.333614  -75.547709  DE
7        12         Florida    21538187  27.839295  -81.636016  FL
8        13         Georgia    10711908  33.410677  -83.891248  GA
9        16           Idaho     1839106  44.220476 -115.224610  ID
10       17        Illinois    12812508  41.312077  -88.372974  IL
11       18         Indiana     6785528  40.144178  -86.251589  IN
12       19            Iowa     3190369  41.936630  -93.037218  IA
13       20          Kansas     2937880  38.480984  -96.409286  KS
14       21        Kentucky     4505836  37.838308  -85.261296  KY
15       22       Louisiana     4657757  30.696198  -91.474266  LA
16       23           Maine     1362359  44.267404  -69.764596  ME
17       24        Maryland     6177224  39.136636  -76.802227  MD
18       25   Massachusetts     7029917  42.273659  -71.350366  MA
19       26        Michigan    10077331  42.864675  -84.213172  MI
20       27       Minnesota     5706494  45.189990  -93.558751  MN
21       28     Mississippi     2961279  32.575361  -89.566275  MS
22       29        Missouri     6154913  38.432921  -92.234929  MO
23       30         Montana     1084225  46.760509 -111.318567  MT
24       31        Nebraska     1961504  41.167883  -97.222143  NE
25       32          Nevada     3104614  37.015907 -116.173753  NV
26       33   New Hampshire     1377529  43.149147  -71.455608  NH
27       34      New Jersey     9288994  40.438248  -74.424465  NJ
28       35      New Mexico     2117522  34.607808 -106.332167  NM
29       36        New York    20201249  41.471783  -74.590827  NY
30       37  North Carolina    10439388  35.538715  -79.675021  NC
31       38    North Dakota      779094  47.339540  -99.444952  ND
32       39            Ohio    11799448  40.438553  -82.796902  OH
33       40        Oklahoma     3959353  35.606866  -96.854171  OK
34       41          Oregon     4237256  44.753509 -122.588257  OR
35       42    Pennsylvania    13002700  40.443486  -76.965232  PA
36       44    Rhode Island     1097379  41.755677  -71.450484  RI
37       45  South Carolina     5118425  34.022471  -80.996482  SC
38       46    South Dakota      886667  43.986511  -98.922285  SD
39       47       Tennessee     6910840  35.821189  -86.332487  TN
40       48           Texas    29145505  30.909581  -97.328656  TX
41       49            Utah     3271616  40.385835 -111.948021  UT
42       50         Vermont      643077  44.101952  -72.824240  VT
43       51        Virginia     8631393  37.850195  -77.765608  VA
44       53      Washington     7705281  47.329504 -121.632620  WA
45       54   West Virginia     1793716  38.823276  -80.671314  WV
46       55       Wisconsin     5893718  43.723662  -89.031445  WI
47       56         Wyoming      576851  42.694801 -106.984779  WY

In [4]:
# build dict: key = ST2, value = (LATITUDE, LONGITUDE)
state_coords = dict(zip(df["ST2"], zip(df["LATITUDE"], df["LONGITUDE"])))

# example usage
print(state_coords["CA"])  # -> (35.491035, -119.347852)


df2 = pd.read_excel("../misc/tabelas.xlsx", sheet_name="table1")
df3 = pd.read_excel("../misc/tabelas.xlsx", sheet_name="tableb")

warehouse_coords = dict(
    zip(df2["Location (city)"], zip(df2["Latitude"], df2["Longitude"]))
)

print(warehouse_coords["Chicago"])  # -> (41.8781, -87.6298)

plants_coords = dict(zip(df3["Plant"], zip(df3["Latitude"], df3["Longitude"])))
print(plants_coords["New York"])  # -> (40.7128, -74.006)

(35.491035, -119.347852)
(41.8781, -87.6298)
(40.7128, -74.006)

In [5]:
df_plants = pd.DataFrame(
    index=warehouse_coords.keys(), columns=plants_coords.keys(), dtype=float
)
for plant, p_coord in plants_coords.items():
    for wh, w_coord in warehouse_coords.items():
        df_plants.at[wh, plant] = geodesic(p_coord, w_coord).miles * CIRCUITY_FACTOR
df_plants.index.name = "Warehouse Location"

In [6]:
df_states = pd.DataFrame(
    index=state_coords.keys(), columns=warehouse_coords.keys(), dtype=float
)
for state, s_coord in state_coords.items():
    for wh, w_coord in warehouse_coords.items():
        df_states.at[state, wh] = geodesic(s_coord, w_coord).miles * CIRCUITY_FACTOR
df_states.index.name = "State"

In [7]:
df_p_d = pd.DataFrame(
    index=state_coords.keys(), columns=plants_coords.keys(), dtype=float
)
for plant, p_coord in plants_coords.items():
    for state, s_coord in state_coords.items():
        df_p_d.at[state, plant] = geodesic(p_coord, s_coord).miles * CIRCUITY_FACTOR
df_p_d.index.name = "State"

In [8]:
with pd.ExcelWriter("distance_matrix.xlsx", engine="openpyxl") as writer:
    df_plants.to_excel(writer, sheet_name="d_pw")
    df_states.to_excel(writer, sheet_name="d_ws")
    df_p_d.to_excel(writer, sheet_name="d_pd")